# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties


# Node

.ash_history
.cache
.config
.npm

node_modules
dist

/tests/e2e/videos/
/tests/e2e/screenshots/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.*.local
/.metadata/
.env.*.loca

#gradle
.gradle
